
#img1, #img2, #img3, #img4, #img5, #img6 {
	width: 300px;
	height: 300px;
	opacity: 0.8;

}


#img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover{
	opacity: 1.0;


}


#play-button{


	opacity: 1.0;
	position: absolute;
	width: 100px;
	height: 100px;
	display: none;
}


#play-button img{
	width: 100%;
	height: 100%;



}





#nav-bar-container{
	display: fixed;

	height: 50px;	
	width: auto;
	text-align: right;
     margin-right: 100px;
     margin-top: 25px;
     background-color: orange;
}


#nav-bar-content-left h1{
	display: inline-block;
	float: left;
	font-family: proxima-nova, sans-serif;
	font-size: 20px;
	padding-left: 125px;

}




#nav-bar-content-right h1{
	display: inline-block;
	font-family: proxima-nova, sans-serif;
	font-size: 16px;
	padding-right: 50px;
	cursor: pointer;
	color: white;



}

#nav-bar-content-right h1:hover{
	opacity: 0.7;

}



#music-container1{
	 width : auto;
     height : 300px;
	text-align: center;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;




}


#music-container1 > div {
 width: 33%;  
 display: inline-block;

 text-align: center;
 padding-bottom: 30px;

}

#music-box1{
	cursor:pointer;


}


#music-box2{
	cursor:pointer;


}


#music-box3{
	cursor:pointer;


}


#mb1-text{

	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: 16px;
}


#mb2-text{

	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: 16px;

}





#mb3-text{

	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: 16px;

}



